{
 :paths     ["src/clj" "src/cljc" "src/cljs" "resources"]
 :mvn/repos {"my.datomic.com" {:url "https://my.datomic.com/repo"}
             "maven_central"  {:url "https://repo.maven.apache.org/maven2/"}}
 :deps      {
             aleph/aleph                                               {:mvn/version "0.9.3"}
             com.amazonaws/aws-java-sdk-dynamodb                       {:mvn/version "1.12.403"}
             com.amazonaws/aws-java-sdk-s3                             {:mvn/version "1.12.403"}
             com.amazonaws/aws-java-sdk-ses                            {:mvn/version "1.12.403"}
             com.atlassian.commonmark/commonmark                       {:mvn/version "0.15.2"}
             com.atlassian.commonmark/commonmark-ext-gfm-strikethrough {:mvn/version "0.15.2"}
             com.atlassian.commonmark/commonmark-ext-gfm-tables        {:mvn/version "0.15.2"}
             com.cleancoders.c3kit/apron                               {:mvn/version "2.3.0"}
             com.cleancoders.c3kit/bucket                              {:mvn/version "2.5.1"}
             com.cleancoders.c3kit/wire                                {:mvn/version "2.8.3"}
             com.datomic/peer                                          {:mvn/version "1.0.6735"}
             compojure/compojure                                       {:mvn/version "1.7.0"}
             hiccup/hiccup                                             {:mvn/version "1.0.5"}
             dev.weavejester/medley                                    {:mvn/version "1.9.0"}
             org.clojure/clojure                                       {:mvn/version "1.11.1"}
             org.mindrot/jbcrypt                                       {:mvn/version "0.4"}
             oliyh/oxbow                                               {:mvn/version "0.1.6"}
             ring/ring-anti-forgery                                    {:mvn/version "1.3.0" :exclusions [commons-codec/commons-codec]}
             }
 :aliases   {
             :test     {:extra-deps  {
                                      clj-commons/secretary          {:mvn/version "1.2.4"}
                                      com.cleancoders.c3kit/scaffold {:git/url "git@github.com:cleancoders/c3kit-scaffold.git" :git/sha "173ee966970a742e08c6718c58b5d8eed934a1e5"}
                                      org.clojure/clojurescript      {:mvn/version "1.11.60"}
                                      speclj/speclj                  {:mvn/version "3.4.5"}
                                      venantius/accountant           {:mvn/version "0.2.5"}
                                      }
                        ;:override-deps {com.cleancoders.c3kit/wire {:local/root "../../cleancoders/c3kit/wire"}}
                        :extra-paths ["dev" "spec/clj" "spec/cljc" "spec/cljs"]}
             :clean-db {:main-opts ["-m" "pedant.clean-dev-db"]}
             :cljs     {:main-opts ["-m" "c3kit.scaffold.cljs"]}
             :css      {:main-opts ["-m" "c3kit.scaffold.css"]}
             :dev      {:main-opts ["-m" "pedant.dev"]}
             :dev-     {:main-opts ["-m" "pedant.dev" "cljs" "css"]}
             :cljss    {:main-opts ["-m" "pedant.dev" "cljs" "css"]}
             :migrate  {:main-opts ["-m" "c3kit.bucket.migration"]}
             :repl     {:main-opts ["-e" "(require,'pedant.repl)" "-e" "(in-ns,'pedant.repl)" "--repl"] :extra-paths ["dev"]}
             :run      {:main-opts ["-m" "pedant.main"]}
             :seed     {:main-opts ["-m" "pedant.seed"] :extra-paths ["dev"]}
             :server   {:jvm-opts ["-Xmx1g" "-server"] :main-opts ["-m" "pedant.main"]}
             :spec     {:main-opts ["-m" "speclj.main" "-c"]}
             }
 }
